{% extends 'base.html' %}
{% load app_filters %}
{% load staticfiles %}
{% block content %}

<div class="content storyColor">
  <h2>{{ recipe.name }}</h2>
  <h4>by
    <a href="{% url 'accounts:by_recipe' username=recipe.user.username}">
    @{{recipe.user.username}}</a></h4>

    <h6 class='card-subtitle mb-2 text-muted'>
      {% for tags in recipe.cuisine.names %}
      <a href="#">{{tags|htfy}}</a>
      {% endfor %}
    </h6>
  <br>

  <div class="row">
    <div class="col-md-4">
      {% if recipe.pic %}
      <img src="{{recipe.pic.url}}" style='height: 95%; width: 95%; object-fit: contain' />
      {% else %}
      <img src="{% static 'images/FoodPlate.png' %}" style='height: 95%; width: 95%; object-fit: contain' />
      {% endif %}
    </div>
    <div class="col-md-8">
      <h5>About the Recipe</h5>
      <p>{{recipe.about}}</p>
    </div>
  </div>

  <br>
  <h5>What you'll need</h5>
  <p>{{ recipe.ingredients }}</p>
  <br>
  <h5>Instructions</h5>
  <p>{{ recipe.instructions }}</p>

</div>

{% endblock %}
